In [1]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
df= pd.read_excel("C:\Users\xps\OneDrive\Desktop\IIMK\4\ecom.xlsx")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3800223810.py, line 1)

In [7]:
ecom= pd.read_excel(r"C:\Users\xps\OneDrive\Desktop\IIMK\4\ecom.xlsx")
#to avoid UNICODE ERROR USE "r" as Prefix

In [8]:
ecom
# to view the data, call with input name

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [15]:
ecom.head()
# returns top 5 rows

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.12,13.312,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.06,10.706,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.35,1.435,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.60,0.660,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.50,15.750,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North

In [17]:
ecom.head(2)
#retuurns top 2 rows

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.12,13.312,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.06,10.706,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa

In [19]:
ecom.head(100)
#returns top 100 rows

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.12,13.312,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.06,10.706,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.35,1.435,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.60,0.660,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.50,15.750,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,El-2015-1227,2015-10-31,2015-08-04,1,Same Day,Electronic,Fans,149,1.0,0,...,61.55,6.155,High,SE-008732,Atkins Messe,Consumer,Antibes,Provence-Alpes-Côte d'Azur,France,Central
96,El-2015-1228,2015-10-31,2015-05-11,1,Same Day,Electronic,Iron,222,4.0,0,...,97.60,9.760,Critical,ER-008733,Mendoza Fisher,Consumer,Johannesburg,Gauteng,South Africa,Africa
97,El-2015-1229,2015-10-31,2015-01-13,1,Same Day,Electronic,Tablet,199,4.0,0,...,111.04,11.104,Medium,ER-008734,Gray Boeckenhauer,Consumer,Hampton,Virginia,United States,South
98,El-2015-1230,2015-10-31,2015-04-19,1,Same Day,Electronic,Mouse,111,5.0,0,...,3.25,0.325,Critical,ES-008735,Brooks Boyes,Corporate,Karlstad,Värmland,Sweden,North
99,El-2015-1231,2015-10-31,2015-01-19,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.60,0.660,Medium,AL-008736,Henson Rozendal,Consumer,Sakaka,Al Jawf,Saudi Arabia,EMEA

In [25]:
ecom.tail()
#Returns last 5 rows

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [23]:
ecom.info()

#index usually start from ZERO IN PYTHON
#can find null values, data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42654 entries, 0 to 42653
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          42654 non-null  object
 1   Order Date        42650 non-null  datetime64[ns]
 2   Shipping Date     42654 non-null  datetime64[ns]
 3   Aging             42654 non-null  int64
 4   Ship Mode         42654 non-null  object
 5   Product Category  42654 non-null  object
 6   Product           42654 non-null  object
 7   Sales             42654 non-null  int64
 8   Quantity          42648 non-null  float64
 9   Sales Cat         42654 non-null  int64
 10  Discount          42654 non-null  float64
 11  Profit            42654 non-null  float64
 12  Shipping Cost     42654 non-null  float64
 13  Order Priority    42654 non-null  object
 14  Customer ID       42650 non-null  object
 15  Customer Name     42654 non-null  object
 16  Segment           42654 non-null  object
 17  City              42654 non-null  object
 18  State             42654 non-null  object
 19  Country           42654 non-null  object
 20  Region            42654 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(3), object(12)
memory usage: 6.8+ MB

In [27]:
ecom.describe()
# checks all nuumerical fields and provides the statistics, includes date field

,Order Date,Shipping Date,Aging,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost
count,42650,42654,42654.000000,42654.000000,42648.000000,42654.000000,42654.000000,42654.000000,42654.000000
mean,2015-06-01 14:36:29.542790144,2015-07-07 18:07:36.773104640,5.317321,158.496671,2.999015,0.992592,0.029989,74.358546,7.435855
min,2015-01-01 00:00:00,2015-01-01 00:00:00,1.000000,33.000000,1.000000,0.000000,0.010000,0.510000,0.051000
25%,2015-03-17 00:00:00,2015-04-06 00:00:00,3.000000,109.000000,2.000000,1.000000,0.020000,26.400000,2.640000
50%,2015-06-02 00:00:00,2015-07-09 00:00:00,5.000000,159.000000,3.000000,1.000000,0.030000,72.640000,7.264000
75%,2015-08-17 00:00:00,2015-10-07 00:00:00,8.000000,218.000000,4.000000,1.000000,0.040000,120.640000,12.064000
max,2015-10-31 00:00:00,2016-01-10 00:00:00,10.000000,250.000000,5.000000,1.000000,0.050000,167.500000,16.750000
std,NaN,NaN,2.930025,65.491677,1.411425,0.085754,0.014131,48.740032,4.874003

In [29]:
ecom.shape

(42654, 21)

In [31]:
print("Total rows", ecom.shape[0])
#Returns the Total no of rows
print("Total rows", ecom.shape[1])
#Returns the Total no of columns

Total rows 42654
Total rows 21

In [33]:
ecom.columns()

TypeError: 'Index' object is not callable

In [35]:
# THE ABOVE ERROR is avoided if called as below
ecom.columns
# this gives all field names

Index(['Order ID', 'Order Date', 'Shipping Date', 'Aging', 'Ship Mode',
       'Product Category', 'Product', 'Sales', 'Quantity', 'Sales Cat',
       'Discount', 'Profit', 'Shipping Cost', 'Order Priority', 'Customer ID',
       'Customer Name', 'Segment', 'City', 'State', 'Country', 'Region'],
      dtype='object')

In [37]:
type(ecom.columns)

pandas.core.indexes.base.Index

In [39]:
type(ecom.columns.tolist())
type(ecom.columns.values)
#Finding the type

numpy.ndarray

In [41]:
ecom.columns.tolist()
#converting pandas index to list

['Order ID',
 'Order Date',
 'Shipping Date',
 'Aging',
 'Ship Mode',
 'Product Category',
 'Product',
 'Sales',
 'Quantity',
 'Sales Cat',
 'Discount',
 'Profit',
 'Shipping Cost',
 'Order Priority',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region']

In [43]:
ecom.keys()

Index(['Order ID', 'Order Date', 'Shipping Date', 'Aging', 'Ship Mode',
       'Product Category', 'Product', 'Sales', 'Quantity', 'Sales Cat',
       'Discount', 'Profit', 'Shipping Cost', 'Order Priority', 'Customer ID',
       'Customer Name', 'Segment', 'City', 'State', 'Country', 'Region'],
      dtype='object')

In [45]:
#access the first 3 columns
ecom.columns.values[0:3]

array(['Order ID', 'Order Date', 'Shipping Date'], dtype=object)

In [47]:
#reverse the columns
ecom.columns.values[::-1]

array(['Region', 'Country', 'State', 'City', 'Segment', 'Customer Name',
       'Customer ID', 'Order Priority', 'Shipping Cost', 'Profit',
       'Discount', 'Sales Cat', 'Quantity', 'Sales', 'Product',
       'Product Category', 'Ship Mode', 'Aging', 'Shipping Date',
       'Order Date', 'Order ID'], dtype=object)

In [49]:
#reverse the columns,and get 3 column
ecom.columns.values[-1:-4:-1]

array(['Region', 'Country', 'State'], dtype=object)

# SLICING DATAFRAME

In [51]:
ecom[10:20]
#returning rows to between 10 to 20

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
10,El-2015-1142,2015-10-31,2015-10-05,1,Same Day,Electronic,Watch,104,5.0,0,...,20.80,2.080,High,OX-008647,Vargas Fox,Consumer,Zapopan,Jalisco,Mexico,North
11,El-2015-1143,2015-10-31,2015-02-25,1,Same Day,Electronic,Fans,149,NaN,0,...,57.08,5.708,Medium,AL-008648,Henson Rozendal,Consumer,Brisbane,Queensland,Australia,Oceania
12,El-2015-1144,2015-10-31,2015-03-06,1,Same Day,Electronic,Iron,222,NaN,0,...,122.02,12.202,High,AN-008649,Blevins Thurman,Consumer,Acuña,Coahuila,Mexico,North
13,El-2015-1145,2015-10-31,2015-01-12,1,Same Day,Electronic,Tablet,199,NaN,0,...,107.06,10.706,Critical,WE-008650,Gillespie Zewe,Consumer,Anaheim,California,United States,West
14,El-2015-1146,2015-10-31,2015-03-17,1,Same Day,Electronic,Mouse,111,NaN,0,...,25.45,2.545,Critical,ER-008651,Combs Ober,Consumer,Santa Ana,Santa Ana,El Salvador,Central
15,El-2015-1147,2015-10-31,2015-01-14,1,Same Day,Electronic,Keyboard,33,NaN,0,...,6.60,0.660,Critical,NE-008652,Cobb Kane,Consumer,Velletri,Lazio,Italy,South
16,El-2015-1148,2015-10-31,2015-08-02,1,Same Day,Electronic,Apple Laptop,250,NaN,0,...,120.00,12.000,Critical,LL-008653,Fischer O'Donnell,Home Office,Christchurch,Canterbury,New Zealand,Oceania
17,El-2015-1149,2015-10-31,2015-04-06,1,Same Day,Electronic,Mixer/Juicer,83,4.0,0,...,20.75,2.075,Critical,EN-008654,Hale Goldenen,Consumer,Quito,Pichincha,Ecuador,South
18,El-2015-1150,2015-10-31,2015-04-04,1,Same Day,Electronic,LED,192,5.0,0,...,83.20,8.320,Critical,ON-008655,Avery Wilson,Consumer,Konya,Konya,Turkey,EMEA
19,El-2015-1151,2015-10-31,2015-05-24,1,Same Day,Electronic,LCD,65,4.0,0,...,16.25,1.625,High,IN-008656,Barker Haberlin,Corporate,Windhoek,Khomas,Namibia,Africa

In [53]:
#getting every fifth record between 10 to 20 rows
ecom[10:20:5]

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
10,El-2015-1142,2015-10-31,2015-10-05,1,Same Day,Electronic,Watch,104,5.0,0,...,20.8,2.08,High,OX-008647,Vargas Fox,Consumer,Zapopan,Jalisco,Mexico,North
15,El-2015-1147,2015-10-31,2015-01-14,1,Same Day,Electronic,Keyboard,33,NaN,0,...,6.6,0.66,Critical,NE-008652,Cobb Kane,Consumer,Velletri,Lazio,Italy,South

In [55]:
#negative slicing
ecom[-1:-20:-5]

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South
42648,FA-2015-30770,2015-01-01,2015-01-13,5,Standard Class,Fashion,Sports Wear,85,1.0,0,...,3.300000,0.330000,Medium,OS-0040976,Pope Kaydos,Consumer,Riyadh,Ar Riyad,Saudi Arabia,EMEA
42643,FA-2015-30765,2015-01-01,2015-11-22,3,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,DY-0040971,Guerrero Kennedy,Corporate,Twin Falls,Idaho,United States,West
42638,FA-2015-30760,2015-01-01,2015-03-11,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,LS-0040966,Lane Daniels,Consumer,Etimesgut,Ankara,Turkey,EMEA

In [57]:
#displays entire data
pd.set_option('display.max_rows',None)

Why pd.set_option('display.max_rows',None) not ecom.set_option('display.max_rows',None):

 pd.set_option() is part of pandas, not the DataFrame.
set_option() is a global configuration function from the pandas library.

It changes the way pandas displays output in general, not just for one DataFrame.
That affects how all DataFrames display in your environment — telling pandas, "Hey, stop truncating rows when printing. Show me everything."

ecom is just a pandas DataFrame object.

A DataFrame doesn’t have any method called set_option().

So ecom.set_option() would throw an AttributeError, like:
AttributeError: 'DataFrame' object has no attribute 'set_option'

🧠 Analogy
Think of pd.set_option() like changing the settings of a TV (resolution, brightness, etc.) — it affects everything you watch on it.

Meanwhile, ecom is like just one show you're watching. It doesn’t control the TV’s settings.

In [59]:
#resetting the display option
pd.reset_option("display.max_rows", None)

In [61]:
ecom

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [63]:
pd.set_option("display.max_columns",None)
#to display all the columns

In [65]:
ecom

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,0.02,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,0.02,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,0.03,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,0.02,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,0.05,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,0.04,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,0.03,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,0.05,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,0.04,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,0.03,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [67]:
#finding column width
pd.get_option("display.max_colwidth", None)

50

In [69]:
#to increase col width
pd.set_option("display.max_colwidth", 100)

In [71]:
#to select a column, there are two ways
ecom.Product

0                Iron
1              Tablet
2               Mouse
3            Keyboard
4        Apple Laptop
             ...
42649     Sports Wear
42650     Sports Wear
42651     Sports Wear
42652     Sports Wear
42653     Sports Wear
Name: Product, Length: 42654, dtype: object

In [73]:
ecom

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,0.02,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,0.02,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,0.03,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,0.02,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,0.05,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,0.04,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,0.03,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,0.05,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,0.04,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,0.03,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [75]:
pd.get_option("display.max_colwidth", None)

100

In [77]:
pd.reset_option("^display")
#Resets all display opption at once

In [79]:
#second way to select a column
ecom['Product']

0                Iron
1              Tablet
2               Mouse
3            Keyboard
4        Apple Laptop
             ...
42649     Sports Wear
42650     Sports Wear
42651     Sports Wear
42652     Sports Wear
42653     Sports Wear
Name: Product, Length: 42654, dtype: object

In [81]:
# WHEN SELECTING MORE THAN ONE FIELD OR VARIABLESS NEED DOUBLE BRACKET
ecom[['Product','Sales']]

            Product  Sales
0              Iron    222
1            Tablet    199
2             Mouse    111
3          Keyboard     33
4      Apple Laptop    250
...             ...    ...
42649   Sports Wear     85
42650   Sports Wear     85
42651   Sports Wear     85
42652   Sports Wear     85
42653   Sports Wear     85

[42654 rows x 2 columns]

In [83]:
#to return only specific rows of specific columns range of rows
ecom[['Product','Sales']].loc[99:400]

          Product  Sales
99       Keyboard     33
100  Apple Laptop    250
101  Mixer/Juicer     83
102           LED    192
103           LCD     65
..            ...    ...
396          Iron    222
397        Tablet    199
398         Mouse    111
399      Keyboard     33
400  Apple Laptop    250

[302 rows x 2 columns]

# 🔹 loc[ ] vs. iloc[]: What’s the difference?
✅ loc[ ] → Selects data using labels (column names & row index labels)
.
✅ iloc[ ] → Selects data using integer index position

🔍 Output Insight:
 ✔ df.loc['A'] selects the row where the index is 'A'.
 ✔ df.iloc[1] selects the second row (since Python indexing starts at 0).
 ✔ loc[] is best when working with named indices, while iloc[ ] is best for numerical indexing.

🎯 Key Takeaways:
✔ Use loc[ ] for label-based selection.
✔ Use iloc[ ] for position-based selection.
✔ Combine them with conditions for advanced filtering (e.g., df.loc[df['Age'] > 30]).
s.

In [85]:
df_1= pd.read_excel(r"C:\Users\xps\OneDrive\Desktop\IIMK\4\ecom.xlsx",index_col ="Product")
#INDEX IS SET WITH PRODUCT COL
df_2= pd.read_excel(r"C:\Users\xps\OneDrive\Desktop\IIMK\4\ecom.xlsx",index_col ="Product")

In [86]:
df_1

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
Product,,,,,,,,,,,,,,,,,,,,
Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,0,0.02,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,0,0.02,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,0,0.03,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,0,0.02,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,0,0.05,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,0,0.04,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,0,0.03,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,0,0.05,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,0,0.04,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,0,0.03,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [99]:
#reset_index
df_1.reset_index()
#temporary reset

,index,Product,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,0,Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,1,Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,2,Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,3,Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,4,Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,42649,Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,42650,Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,42651,Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,42652,Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,42653,Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [101]:
df_1

,Product,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [103]:
df_1.reset_index(inplace=True)
#permanent reset of index

In [105]:
df_1

,index,Product,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,0,Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,1,Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,2,Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,3,Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,4,Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,42649,Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,42650,Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,42651,Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,42652,Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,42653,Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

# drop=false
The index is reset to default (0, 1, 2, …), but the old index becomes a column in your DataFrame.

In [109]:
df_reset1=df_2.reset_index(drop=False)
df_reset1

,Product,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

# drop =true
The index is reset to default, and the old index is discarded (not added as a column)

In [ ]:
#reset index
df_reset = df_1.reset_index(drop=True)
# : The index is replaced with default integers, 
# and the original index is not kept — it's dropped.

In [ ]:
df_reset

In [ ]:
df_1.set_index('Product',inplace=True)
df_1

In [ ]:
df_1.loc['Iron']
#returns all products with iron

# df_1.iloc[0:11]
#returns top 10 rows

In [ ]:
 df_1.iloc[[1,3]]

# returns rows 1 to 2 , here we used comma not semi colon

In [ ]:
df_1.set_index('Ship Mode', append=True, inplace =True)
#Adding multi level index when there is already an index set

In [ ]:
df_1

In [ ]:
df_1.reorder_levels(['Segment', 'Product','Ship Mode'])
#reording multi level index

In [ ]:
df_1.sort_index(axis=1, inplace =True)
df

In [ ]:
df_1.sort_index(axis=0, inplace =True)
df_1

In [ ]:
df_1.index.values
#displays the index

In [ ]:
ecom_out = ecom.to_excel(r"C:\Users\xps\OneDrive\Desktop\IIMK\4\ecom_out.xlsx",index=False)

#.to_excel(...)This is the pandas method used to export the DataFrame to an Excel file.
# index=False This tells pandas not to write the DataFrame’s index into the Excel file 
#(i.e., it won’t add that leftmost column of 0, 1, 2... that pandas uses internally).

In [ ]:
df_1.iloc([0:11],[0:6])

In [ ]:
df_1.iloc[0:11,0:6]

# When to Use loc vs iloc
# use loc[] -When selecting by labels (like column names)
# df.loc[1:3, ['Name']]
# Use iloc[]
# When selecting by positions (like row/column numbers)
# df.iloc[1:3, [0]]

# note
# df.iloc[[0:11],[0:6]]	
# (Slices inside lists)

In [ ]:
pd.set_option()

In [ ]:
print(ecom_out)
#Then no — ecom_out is just None, because to_excel() doesn't return the Excel file or any usable object. It's just a "write-to-disk" operation.