In [1]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
df= pd.read_excel("C:\Users\xps\OneDrive\Desktop\IIMK\4\ecom.xlsx")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3800223810.py, line 1)

In [7]:
ecom= pd.read_excel(r"C:\Users\xps\OneDrive\Desktop\IIMK\4\ecom.xlsx")
#to avoid UNICODE ERROR USE "r" as Prefix

In [8]:
ecom
# to view the data, call with input name

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [15]:
ecom.head()
# returns top 5 rows

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.12,13.312,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.06,10.706,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.35,1.435,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.60,0.660,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.50,15.750,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North

In [17]:
ecom.head(2)
#retuurns top 2 rows

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.12,13.312,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.06,10.706,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa

In [19]:
ecom.head(100)
#returns top 100 rows

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.12,13.312,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.06,10.706,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.35,1.435,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.60,0.660,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.50,15.750,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,El-2015-1227,2015-10-31,2015-08-04,1,Same Day,Electronic,Fans,149,1.0,0,...,61.55,6.155,High,SE-008732,Atkins Messe,Consumer,Antibes,Provence-Alpes-Côte d'Azur,France,Central
96,El-2015-1228,2015-10-31,2015-05-11,1,Same Day,Electronic,Iron,222,4.0,0,...,97.60,9.760,Critical,ER-008733,Mendoza Fisher,Consumer,Johannesburg,Gauteng,South Africa,Africa
97,El-2015-1229,2015-10-31,2015-01-13,1,Same Day,Electronic,Tablet,199,4.0,0,...,111.04,11.104,Medium,ER-008734,Gray Boeckenhauer,Consumer,Hampton,Virginia,United States,South
98,El-2015-1230,2015-10-31,2015-04-19,1,Same Day,Electronic,Mouse,111,5.0,0,...,3.25,0.325,Critical,ES-008735,Brooks Boyes,Corporate,Karlstad,Värmland,Sweden,North
99,El-2015-1231,2015-10-31,2015-01-19,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.60,0.660,Medium,AL-008736,Henson Rozendal,Consumer,Sakaka,Al Jawf,Saudi Arabia,EMEA

In [25]:
ecom.tail()
#Returns last 5 rows

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [23]:
ecom.info()

#index usually start from ZERO IN PYTHON
#can find null values, data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42654 entries, 0 to 42653
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          42654 non-null  object
 1   Order Date        42650 non-null  datetime64[ns]
 2   Shipping Date     42654 non-null  datetime64[ns]
 3   Aging             42654 non-null  int64
 4   Ship Mode         42654 non-null  object
 5   Product Category  42654 non-null  object
 6   Product           42654 non-null  object
 7   Sales             42654 non-null  int64
 8   Quantity          42648 non-null  float64
 9   Sales Cat         42654 non-null  int64
 10  Discount          42654 non-null  float64
 11  Profit            42654 non-null  float64
 12  Shipping Cost     42654 non-null  float64
 13  Order Priority    42654 non-null  object
 14  Customer ID       42650 non-null  object
 15  Customer Name     42654 non-null  object
 16  Segment           42654 non-null  object
 17  City              42654 non-null  object
 18  State             42654 non-null  object
 19  Country           42654 non-null  object
 20  Region            42654 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(3), object(12)
memory usage: 6.8+ MB

In [27]:
ecom.describe()
# checks all nuumerical fields and provides the statistics, includes date field

,Order Date,Shipping Date,Aging,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost
count,42650,42654,42654.000000,42654.000000,42648.000000,42654.000000,42654.000000,42654.000000,42654.000000
mean,2015-06-01 14:36:29.542790144,2015-07-07 18:07:36.773104640,5.317321,158.496671,2.999015,0.992592,0.029989,74.358546,7.435855
min,2015-01-01 00:00:00,2015-01-01 00:00:00,1.000000,33.000000,1.000000,0.000000,0.010000,0.510000,0.051000
25%,2015-03-17 00:00:00,2015-04-06 00:00:00,3.000000,109.000000,2.000000,1.000000,0.020000,26.400000,2.640000
50%,2015-06-02 00:00:00,2015-07-09 00:00:00,5.000000,159.000000,3.000000,1.000000,0.030000,72.640000,7.264000
75%,2015-08-17 00:00:00,2015-10-07 00:00:00,8.000000,218.000000,4.000000,1.000000,0.040000,120.640000,12.064000
max,2015-10-31 00:00:00,2016-01-10 00:00:00,10.000000,250.000000,5.000000,1.000000,0.050000,167.500000,16.750000
std,NaN,NaN,2.930025,65.491677,1.411425,0.085754,0.014131,48.740032,4.874003

In [29]:
ecom.shape

(42654, 21)

In [31]:
print("Total rows", ecom.shape[0])
#Returns the Total no of rows
print("Total rows", ecom.shape[1])
#Returns the Total no of columns

Total rows 42654
Total rows 21

In [33]:
ecom.columns()

TypeError: 'Index' object is not callable

In [35]:
# THE ABOVE ERROR is avoided if called as below
ecom.columns
# this gives all field names

Index(['Order ID', 'Order Date', 'Shipping Date', 'Aging', 'Ship Mode',
       'Product Category', 'Product', 'Sales', 'Quantity', 'Sales Cat',
       'Discount', 'Profit', 'Shipping Cost', 'Order Priority', 'Customer ID',
       'Customer Name', 'Segment', 'City', 'State', 'Country', 'Region'],
      dtype='object')

In [37]:
type(ecom.columns)

pandas.core.indexes.base.Index

In [39]:
type(ecom.columns.tolist())
type(ecom.columns.values)
#Finding the type

numpy.ndarray

In [41]:
ecom.columns.tolist()
#converting pandas index to list

['Order ID',
 'Order Date',
 'Shipping Date',
 'Aging',
 'Ship Mode',
 'Product Category',
 'Product',
 'Sales',
 'Quantity',
 'Sales Cat',
 'Discount',
 'Profit',
 'Shipping Cost',
 'Order Priority',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region']

In [43]:
ecom.keys()

Index(['Order ID', 'Order Date', 'Shipping Date', 'Aging', 'Ship Mode',
       'Product Category', 'Product', 'Sales', 'Quantity', 'Sales Cat',
       'Discount', 'Profit', 'Shipping Cost', 'Order Priority', 'Customer ID',
       'Customer Name', 'Segment', 'City', 'State', 'Country', 'Region'],
      dtype='object')

In [45]:
#access the first 3 columns
ecom.columns.values[0:3]

array(['Order ID', 'Order Date', 'Shipping Date'], dtype=object)

In [47]:
#reverse the columns
ecom.columns.values[::-1]

array(['Region', 'Country', 'State', 'City', 'Segment', 'Customer Name',
       'Customer ID', 'Order Priority', 'Shipping Cost', 'Profit',
       'Discount', 'Sales Cat', 'Quantity', 'Sales', 'Product',
       'Product Category', 'Ship Mode', 'Aging', 'Shipping Date',
       'Order Date', 'Order ID'], dtype=object)

In [49]:
#reverse the columns,and get 3 column
ecom.columns.values[-1:-4:-1]

array(['Region', 'Country', 'State'], dtype=object)

# SLICING DATAFRAME

In [51]:
ecom[10:20]
#returning rows to between 10 to 20

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
10,El-2015-1142,2015-10-31,2015-10-05,1,Same Day,Electronic,Watch,104,5.0,0,...,20.80,2.080,High,OX-008647,Vargas Fox,Consumer,Zapopan,Jalisco,Mexico,North
11,El-2015-1143,2015-10-31,2015-02-25,1,Same Day,Electronic,Fans,149,NaN,0,...,57.08,5.708,Medium,AL-008648,Henson Rozendal,Consumer,Brisbane,Queensland,Australia,Oceania
12,El-2015-1144,2015-10-31,2015-03-06,1,Same Day,Electronic,Iron,222,NaN,0,...,122.02,12.202,High,AN-008649,Blevins Thurman,Consumer,Acuña,Coahuila,Mexico,North
13,El-2015-1145,2015-10-31,2015-01-12,1,Same Day,Electronic,Tablet,199,NaN,0,...,107.06,10.706,Critical,WE-008650,Gillespie Zewe,Consumer,Anaheim,California,United States,West
14,El-2015-1146,2015-10-31,2015-03-17,1,Same Day,Electronic,Mouse,111,NaN,0,...,25.45,2.545,Critical,ER-008651,Combs Ober,Consumer,Santa Ana,Santa Ana,El Salvador,Central
15,El-2015-1147,2015-10-31,2015-01-14,1,Same Day,Electronic,Keyboard,33,NaN,0,...,6.60,0.660,Critical,NE-008652,Cobb Kane,Consumer,Velletri,Lazio,Italy,South
16,El-2015-1148,2015-10-31,2015-08-02,1,Same Day,Electronic,Apple Laptop,250,NaN,0,...,120.00,12.000,Critical,LL-008653,Fischer O'Donnell,Home Office,Christchurch,Canterbury,New Zealand,Oceania
17,El-2015-1149,2015-10-31,2015-04-06,1,Same Day,Electronic,Mixer/Juicer,83,4.0,0,...,20.75,2.075,Critical,EN-008654,Hale Goldenen,Consumer,Quito,Pichincha,Ecuador,South
18,El-2015-1150,2015-10-31,2015-04-04,1,Same Day,Electronic,LED,192,5.0,0,...,83.20,8.320,Critical,ON-008655,Avery Wilson,Consumer,Konya,Konya,Turkey,EMEA
19,El-2015-1151,2015-10-31,2015-05-24,1,Same Day,Electronic,LCD,65,4.0,0,...,16.25,1.625,High,IN-008656,Barker Haberlin,Corporate,Windhoek,Khomas,Namibia,Africa

In [53]:
#getting every fifth record between 10 to 20 rows
ecom[10:20:5]

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
10,El-2015-1142,2015-10-31,2015-10-05,1,Same Day,Electronic,Watch,104,5.0,0,...,20.8,2.08,High,OX-008647,Vargas Fox,Consumer,Zapopan,Jalisco,Mexico,North
15,El-2015-1147,2015-10-31,2015-01-14,1,Same Day,Electronic,Keyboard,33,NaN,0,...,6.6,0.66,Critical,NE-008652,Cobb Kane,Consumer,Velletri,Lazio,Italy,South

In [55]:
#negative slicing
ecom[-1:-20:-5]

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South
42648,FA-2015-30770,2015-01-01,2015-01-13,5,Standard Class,Fashion,Sports Wear,85,1.0,0,...,3.300000,0.330000,Medium,OS-0040976,Pope Kaydos,Consumer,Riyadh,Ar Riyad,Saudi Arabia,EMEA
42643,FA-2015-30765,2015-01-01,2015-11-22,3,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,DY-0040971,Guerrero Kennedy,Corporate,Twin Falls,Idaho,United States,West
42638,FA-2015-30760,2015-01-01,2015-03-11,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,LS-0040966,Lane Daniels,Consumer,Etimesgut,Ankara,Turkey,EMEA

In [57]:
#displays entire data
pd.set_option('display.max_rows',None)

Why pd.set_option('display.max_rows',None) not ecom.set_option('display.max_rows',None):

 pd.set_option() is part of pandas, not the DataFrame.
set_option() is a global configuration function from the pandas library.

It changes the way pandas displays output in general, not just for one DataFrame.
That affects how all DataFrames display in your environment — telling pandas, "Hey, stop truncating rows when printing. Show me everything."

ecom is just a pandas DataFrame object.

A DataFrame doesn’t have any method called set_option().

So ecom.set_option() would throw an AttributeError, like:
AttributeError: 'DataFrame' object has no attribute 'set_option'

🧠 Analogy
Think of pd.set_option() like changing the settings of a TV (resolution, brightness, etc.) — it affects everything you watch on it.

Meanwhile, ecom is like just one show you're watching. It doesn’t control the TV’s settings.

In [59]:
#resetting the display option
pd.reset_option("display.max_rows", None)

In [61]:
ecom

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [63]:
pd.set_option("display.max_columns",None)
#to display all the columns

In [65]:
ecom

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,0.02,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,0.02,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,0.03,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,0.02,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,0.05,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,0.04,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,0.03,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,0.05,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,0.04,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,0.03,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [67]:
#finding column width
pd.get_option("display.max_colwidth", None)

50

In [69]:
#to increase col width
pd.set_option("display.max_colwidth", 100)

In [71]:
#to select a column, there are two ways
ecom.Product

0                Iron
1              Tablet
2               Mouse
3            Keyboard
4        Apple Laptop
             ...
42649     Sports Wear
42650     Sports Wear
42651     Sports Wear
42652     Sports Wear
42653     Sports Wear
Name: Product, Length: 42654, dtype: object

In [73]:
ecom

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,0.02,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,0.02,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,0.03,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,0.02,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,0.05,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,0.04,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,0.03,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,0.05,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,0.04,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,0.03,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [75]:
pd.get_option("display.max_colwidth", None)

100

In [77]:
pd.reset_option("^display")
#Resets all display opption at once

In [79]:
#second way to select a column
ecom['Product']

0                Iron
1              Tablet
2               Mouse
3            Keyboard
4        Apple Laptop
             ...
42649     Sports Wear
42650     Sports Wear
42651     Sports Wear
42652     Sports Wear
42653     Sports Wear
Name: Product, Length: 42654, dtype: object

In [81]:
# WHEN SELECTING MORE THAN ONE FIELD OR VARIABLESS NEED DOUBLE BRACKET
ecom[['Product','Sales']]

            Product  Sales
0              Iron    222
1            Tablet    199
2             Mouse    111
3          Keyboard     33
4      Apple Laptop    250
...             ...    ...
42649   Sports Wear     85
42650   Sports Wear     85
42651   Sports Wear     85
42652   Sports Wear     85
42653   Sports Wear     85

[42654 rows x 2 columns]

In [83]:
#to return only specific rows of specific columns range of rows
ecom[['Product','Sales']].loc[99:400]

          Product  Sales
99       Keyboard     33
100  Apple Laptop    250
101  Mixer/Juicer     83
102           LED    192
103           LCD     65
..            ...    ...
396          Iron    222
397        Tablet    199
398         Mouse    111
399      Keyboard     33
400  Apple Laptop    250

[302 rows x 2 columns]

# 🔹 loc[ ] vs. iloc[]: What’s the difference?
✅ loc[ ] → Selects data using labels (column names & row index labels)
.
✅ iloc[ ] → Selects data using integer index position

🔍 Output Insight:
 ✔ df.loc['A'] selects the row where the index is 'A'.
 ✔ df.iloc[1] selects the second row (since Python indexing starts at 0).
 ✔ loc[] is best when working with named indices, while iloc[ ] is best for numerical indexing.

🎯 Key Takeaways:
✔ Use loc[ ] for label-based selection.
✔ Use iloc[ ] for position-based selection.
✔ Combine them with conditions for advanced filtering (e.g., df.loc[df['Age'] > 30]).
s.

In [85]:
df_1= pd.read_excel(r"C:\Users\xps\OneDrive\Desktop\IIMK\4\ecom.xlsx",index_col ="Product")
#INDEX IS SET WITH PRODUCT COL
df_2= pd.read_excel(r"C:\Users\xps\OneDrive\Desktop\IIMK\4\ecom.xlsx",index_col ="Product")

In [86]:
df_1

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
Product,,,,,,,,,,,,,,,,,,,,
Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,0,0.02,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,0,0.02,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,0,0.03,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,0,0.02,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,0,0.05,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,0,0.04,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,0,0.03,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,0,0.05,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,0,0.04,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,0,0.03,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [99]:
#reset_index
df_1.reset_index()
#temporary reset

,index,Product,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,0,Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,1,Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,2,Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,3,Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,4,Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,42649,Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,42650,Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,42651,Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,42652,Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,42653,Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [101]:
df_1

,Product,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [103]:
df_1.reset_index(inplace=True)
#permanent reset of index

In [105]:
df_1

,index,Product,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,0,Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,1,Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,2,Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,3,Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,4,Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,42649,Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,42650,Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,42651,Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,42652,Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,42653,Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

# drop=false
The index is reset to default (0, 1, 2, …), but the old index becomes a column in your DataFrame.

In [109]:
df_reset1=df_2.reset_index(drop=False)
df_reset1

,Product,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

# drop =true
The index is reset to default, and the old index is discarded (not added as a column)

In [111]:
#reset index
df_reset = df_1.reset_index(drop=True)
# : The index is replaced with default integers, 
# and the original index is not kept — it's dropped.

In [113]:
df_reset

,index,Product,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
0,0,Iron,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,1,Tablet,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,2,Mouse,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,3,Keyboard,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,4,Apple Laptop,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,42649,Sports Wear,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,42650,Sports Wear,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,42651,Sports Wear,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,42652,Sports Wear,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,42653,Sports Wear,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [115]:
df_1.set_index('Product',inplace=True)
df_1

,index,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
Product,,,,,,,,,,,,,,,,,,,,,
Iron,0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
Tablet,1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
Mouse,2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
Keyboard,3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
Apple Laptop,4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sports Wear,42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
Sports Wear,42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
Sports Wear,42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
Sports Wear,42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
Sports Wear,42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [117]:
df_1.loc['Iron']
#returns all products with iron

,index,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
Product,,,,,,,,,,,,,,,,,,,,,
Iron,0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,222,2.0,0,...,133.12,13.312,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
Iron,12,El-2015-1144,2015-10-31,2015-03-06,1,Same Day,Electronic,222,NaN,0,...,122.02,12.202,High,AN-008649,Blevins Thurman,Consumer,Acuña,Coahuila,Mexico,North
Iron,24,El-2015-1156,NaT,2015-07-24,1,Same Day,Electronic,222,2.0,0,...,137.56,13.756,High,AN-008661,Edwards Beltran,Consumer,Can Tho,Tỉnh Cần Thơ,Vietnam,Southeast Asia
Iron,36,El-2015-1168,2015-10-31,2015-03-10,1,Same Day,Electronic,222,3.0,0,...,115.36,11.536,High,NaN,Bowen Hart,Consumer,Melton,Victoria,Australia,Oceania
Iron,48,El-2015-1180,2015-10-31,2015-11-07,1,Same Day,Electronic,222,5.0,0,...,86.50,8.650,High,LS-008685,Lane Daniels,Consumer,Jodhpur,Rajasthan,India,Central Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Iron,1516,El-2015-2648,2015-10-21,2015-06-23,1,Same Day,Electronic,222,4.0,1,...,115.36,11.536,Medium,EY-0010153,Robertson Coakley,Consumer,Gold Coast,Queensland,Australia,Oceania
Iron,1528,El-2015-2660,2015-10-21,2015-01-30,1,Same Day,Electronic,222,1.0,1,...,139.78,13.978,Medium,CK-0010165,Barnett Garverick,Home Office,Aurora,Illinois,United States,Central
Iron,1540,El-2015-2672,2015-10-21,2015-04-04,1,Same Day,Electronic,222,1.0,1,...,137.56,13.756,High,OK-0010177,Lee Ashbrook,Corporate,Los Angeles,California,United States,West
Iron,1552,El-2015-2684,2015-10-21,2015-08-06,1,Same Day,Electronic,222,5.0,1,...,86.50,8.650,Medium,NG-0010189,Charles Norling,Consumer,Pavlodar,Pavlodar,Kazakhstan,EMEA
Iron,1564,El-2015-2696,2015-10-21,2015-01-09,1,Same Day,Electronic,222,4.0,1,...,97.60,9.760,Medium,ER-0010201,Roberts Bavinger,Consumer,Onitsha,Anambra,Nigeria,Africa

# df_1.iloc[0:11]
#returns top 10 rows

In [119]:
 df_1.iloc[[1,3]]

# returns rows 1 to 2 , here we used comma not semi colon

,index,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region
Product,,,,,,,,,,,,,,,,,,,,,
Tablet,1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,199,3.0,0,...,107.06,10.706,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
Keyboard,3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,33,5.0,0,...,6.60,0.660,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia

In [121]:
df_1.set_index('Ship Mode', append=True, inplace =True)
#Adding multi level index when there is already an index set

In [123]:
df_1

                             index       Order ID Order Date Shipping Date  \
Product      Ship Mode
Iron         Same Day            0   El-2015-1132 2015-10-31    2015-01-08
Tablet       Same Day            1   El-2015-1133 2015-10-31    2015-05-08
Mouse        Same Day            2   El-2015-1134 2015-10-31    2015-12-13
Keyboard     Same Day            3   El-2015-1135 2015-10-31    2015-09-23
Apple Laptop Same Day            4   El-2015-1136 2015-10-31    2015-02-21
...                            ...            ...        ...           ...
Sports Wear  Standard Class  42649  FA-2015-30771 2015-01-01    2015-01-27
             Standard Class  42650  FA-2015-30772 2015-01-01    2015-06-24
             Standard Class  42651  FA-2015-30773 2015-01-01    2015-01-07
             Standard Class  42652  FA-2015-30774 2015-01-01    2015-12-14
             Standard Class  42653  FA-2015-30775 2015-01-01    2015-12-06

                             Aging Product Category  Sales  Quantity  \
Product      Ship Mode
Iron         Same Day            1       Electronic    222       2.0
Tablet       Same Day            1       Electronic    199       3.0
Mouse        Same Day            1       Electronic    111       5.0
Keyboard     Same Day            1       Electronic     33       5.0
Apple Laptop Same Day            1       Electronic    250       1.0
...                            ...              ...    ...       ...
Sports Wear  Standard Class      6          Fashion     85       5.0
             Standard Class      2          Fashion     85       1.0
             Standard Class      6          Fashion     85       1.0
             Standard Class      7          Fashion     85       3.0
             Standard Class      5          Fashion     85       3.0

                             Sales Cat  Discount      Profit  Shipping Cost  \
Product      Ship Mode
Iron         Same Day                0      0.02  133.120000      13.312000
Tablet       Same Day                0      0.02  107.060000      10.706000
Mouse        Same Day                0      0.03   14.350000       1.435000
Keyboard     Same Day                0      0.02    6.600000       0.660000
Apple Laptop Same Day                0      0.05  157.500000      15.750000
...                                ...       ...         ...            ...
Sports Wear  Standard Class          0      0.04   17.000000       1.700000
             Standard Class          0      0.03    2.450000       0.245000
             Standard Class          0      0.05    0.750000       0.075000
             Standard Class          0      0.04   28.333333       2.833333
             Standard Class          0      0.03   28.333333       2.833333

                            Order Priority Customer ID    Customer Name  \
Product      Ship Mode
Iron         Same Day             Critical   DY-008637     Vaughn Grady
Tablet       Same Day                 High   SE-008638    Manning House
Mouse        Same Day             Critical   WE-008639   Gillespie Zewe
Keyboard     Same Day               Medium   NT-008640       Pugh Swint
Apple Laptop Same Day             Critical   DY-008641       Bush Grady
...                                    ...         ...              ...
Sports Wear  Standard Class         Medium  IN-0040977       Welch Fein
             Standard Class         Medium  TT-0040978  Martinez Arnett
             Standard Class         Medium  ON-0040979     Mccoy Duston
             Standard Class         Medium  RN-0040980   Bentley Zypern
             Standard Class         Medium  RZ-0040981  Mcclure Schwarz

                                 Segment         City             State  \
Product      Ship Mode
Iron         Same Day           Consumer   Valparaíso        Valparaíso
Tablet       Same Day           Consumer     Kinshasa          Kinshasa
Mouse        Same Day           Consumer     Istanbul          Istanbul
Keyboard     Same Day        Home Office       Lahore            Punjab
Apple Laptop Same Day          Corporate  Mexico City  Distrito Federal
...                                  ...          ...               ...
Sports Wear  Standard Class    Corporate     Pasadena             Texas
             Standard Class    Corporate       Harare            Harare
             Standard Class  Home Office   Townsville        Queensland
             Standard Class     Consumer      Houston             Texas
             Standard Class  Home Office     Valinhos         São Paulo

                                                      Country        Region
Product      Ship Mode
Iron         Same Day                                   Chile         South
Tablet       Same Day        Democratic Republic of the Congo        Africa
Mouse        Same Day                                  Turkey          EMEA
Keyboard     Same Day                                Pakistan  Central Asia
Apple Laptop Same Day                                  Mexico         North
...                                                       ...           ...
Sports Wear  Standard Class                     United States       Central
             Standard Class                          Zimbabwe        Africa
             Standard Class                         Australia       Oceania
             Standard Class                     United States       Central
             Standard Class                            Brazil         South

[42654 rows x 20 columns]

In [127]:
df_1.reorder_levels([ 'Product','Ship Mode'])
#reording multi level index

                             index       Order ID Order Date Shipping Date  \
Product      Ship Mode
Iron         Same Day            0   El-2015-1132 2015-10-31    2015-01-08
Tablet       Same Day            1   El-2015-1133 2015-10-31    2015-05-08
Mouse        Same Day            2   El-2015-1134 2015-10-31    2015-12-13
Keyboard     Same Day            3   El-2015-1135 2015-10-31    2015-09-23
Apple Laptop Same Day            4   El-2015-1136 2015-10-31    2015-02-21
...                            ...            ...        ...           ...
Sports Wear  Standard Class  42649  FA-2015-30771 2015-01-01    2015-01-27
             Standard Class  42650  FA-2015-30772 2015-01-01    2015-06-24
             Standard Class  42651  FA-2015-30773 2015-01-01    2015-01-07
             Standard Class  42652  FA-2015-30774 2015-01-01    2015-12-14
             Standard Class  42653  FA-2015-30775 2015-01-01    2015-12-06

                             Aging Product Category  Sales  Quantity  \
Product      Ship Mode
Iron         Same Day            1       Electronic    222       2.0
Tablet       Same Day            1       Electronic    199       3.0
Mouse        Same Day            1       Electronic    111       5.0
Keyboard     Same Day            1       Electronic     33       5.0
Apple Laptop Same Day            1       Electronic    250       1.0
...                            ...              ...    ...       ...
Sports Wear  Standard Class      6          Fashion     85       5.0
             Standard Class      2          Fashion     85       1.0
             Standard Class      6          Fashion     85       1.0
             Standard Class      7          Fashion     85       3.0
             Standard Class      5          Fashion     85       3.0

                             Sales Cat  Discount      Profit  Shipping Cost  \
Product      Ship Mode
Iron         Same Day                0      0.02  133.120000      13.312000
Tablet       Same Day                0      0.02  107.060000      10.706000
Mouse        Same Day                0      0.03   14.350000       1.435000
Keyboard     Same Day                0      0.02    6.600000       0.660000
Apple Laptop Same Day                0      0.05  157.500000      15.750000
...                                ...       ...         ...            ...
Sports Wear  Standard Class          0      0.04   17.000000       1.700000
             Standard Class          0      0.03    2.450000       0.245000
             Standard Class          0      0.05    0.750000       0.075000
             Standard Class          0      0.04   28.333333       2.833333
             Standard Class          0      0.03   28.333333       2.833333

                            Order Priority Customer ID    Customer Name  \
Product      Ship Mode
Iron         Same Day             Critical   DY-008637     Vaughn Grady
Tablet       Same Day                 High   SE-008638    Manning House
Mouse        Same Day             Critical   WE-008639   Gillespie Zewe
Keyboard     Same Day               Medium   NT-008640       Pugh Swint
Apple Laptop Same Day             Critical   DY-008641       Bush Grady
...                                    ...         ...              ...
Sports Wear  Standard Class         Medium  IN-0040977       Welch Fein
             Standard Class         Medium  TT-0040978  Martinez Arnett
             Standard Class         Medium  ON-0040979     Mccoy Duston
             Standard Class         Medium  RN-0040980   Bentley Zypern
             Standard Class         Medium  RZ-0040981  Mcclure Schwarz

                                 Segment         City             State  \
Product      Ship Mode
Iron         Same Day           Consumer   Valparaíso        Valparaíso
Tablet       Same Day           Consumer     Kinshasa          Kinshasa
Mouse        Same Day           Consumer     Istanbul          Istanbul
Keyboard     Same Day        Home Office       Lahore            Punjab
Apple Laptop Same Day          Corporate  Mexico City  Distrito Federal
...                                  ...          ...               ...
Sports Wear  Standard Class    Corporate     Pasadena             Texas
             Standard Class    Corporate       Harare            Harare
             Standard Class  Home Office   Townsville        Queensland
             Standard Class     Consumer      Houston             Texas
             Standard Class  Home Office     Valinhos         São Paulo

                                                      Country        Region
Product      Ship Mode
Iron         Same Day                                   Chile         South
Tablet       Same Day        Democratic Republic of the Congo        Africa
Mouse        Same Day                                  Turkey          EMEA
Keyboard     Same Day                                Pakistan  Central Asia
Apple Laptop Same Day                                  Mexico         North
...                                                       ...           ...
Sports Wear  Standard Class                     United States       Central
             Standard Class                          Zimbabwe        Africa
             Standard Class                         Australia       Oceania
             Standard Class                     United States       Central
             Standard Class                            Brazil         South

[42654 rows x 20 columns]

In [131]:
df_1.sort_index(axis=1, inplace =True)
df_1
#sorting column

                             Aging         City  \
Product      Ship Mode
Iron         Same Day            1   Valparaíso
Tablet       Same Day            1     Kinshasa
Mouse        Same Day            1     Istanbul
Keyboard     Same Day            1       Lahore
Apple Laptop Same Day            1  Mexico City
...                            ...          ...
Sports Wear  Standard Class      6     Pasadena
             Standard Class      2       Harare
             Standard Class      6   Townsville
             Standard Class      7      Houston
             Standard Class      5     Valinhos

                                                      Country Customer ID  \
Product      Ship Mode
Iron         Same Day                                   Chile   DY-008637
Tablet       Same Day        Democratic Republic of the Congo   SE-008638
Mouse        Same Day                                  Turkey   WE-008639
Keyboard     Same Day                                Pakistan   NT-008640
Apple Laptop Same Day                                  Mexico   DY-008641
...                                                       ...         ...
Sports Wear  Standard Class                     United States  IN-0040977
             Standard Class                          Zimbabwe  TT-0040978
             Standard Class                         Australia  ON-0040979
             Standard Class                     United States  RN-0040980
             Standard Class                            Brazil  RZ-0040981

                               Customer Name  Discount Order Date  \
Product      Ship Mode
Iron         Same Day           Vaughn Grady      0.02 2015-10-31
Tablet       Same Day          Manning House      0.02 2015-10-31
Mouse        Same Day         Gillespie Zewe      0.03 2015-10-31
Keyboard     Same Day             Pugh Swint      0.02 2015-10-31
Apple Laptop Same Day             Bush Grady      0.05 2015-10-31
...                                      ...       ...        ...
Sports Wear  Standard Class       Welch Fein      0.04 2015-01-01
             Standard Class  Martinez Arnett      0.03 2015-01-01
             Standard Class     Mccoy Duston      0.05 2015-01-01
             Standard Class   Bentley Zypern      0.04 2015-01-01
             Standard Class  Mcclure Schwarz      0.03 2015-01-01

                                  Order ID Order Priority Product Category  \
Product      Ship Mode
Iron         Same Day         El-2015-1132       Critical       Electronic
Tablet       Same Day         El-2015-1133           High       Electronic
Mouse        Same Day         El-2015-1134       Critical       Electronic
Keyboard     Same Day         El-2015-1135         Medium       Electronic
Apple Laptop Same Day         El-2015-1136       Critical       Electronic
...                                    ...            ...              ...
Sports Wear  Standard Class  FA-2015-30771         Medium          Fashion
             Standard Class  FA-2015-30772         Medium          Fashion
             Standard Class  FA-2015-30773         Medium          Fashion
             Standard Class  FA-2015-30774         Medium          Fashion
             Standard Class  FA-2015-30775         Medium          Fashion

                                 Profit  Quantity        Region  Sales  \
Product      Ship Mode
Iron         Same Day        133.120000       2.0         South    222
Tablet       Same Day        107.060000       3.0        Africa    199
Mouse        Same Day         14.350000       5.0          EMEA    111
Keyboard     Same Day          6.600000       5.0  Central Asia     33
Apple Laptop Same Day        157.500000       1.0         North    250
...                                 ...       ...           ...    ...
Sports Wear  Standard Class   17.000000       5.0       Central     85
             Standard Class    2.450000       1.0        Africa     85
             Standard Class    0.750000       1.0       Oceania     85
             Standard Class   28.333333       3.0       Central     85
             Standard Class   28.333333       3.0         South     85

                             Sales Cat      Segment  Shipping Cost  \
Product      Ship Mode
Iron         Same Day                0     Consumer      13.312000
Tablet       Same Day                0     Consumer      10.706000
Mouse        Same Day                0     Consumer       1.435000
Keyboard     Same Day                0  Home Office       0.660000
Apple Laptop Same Day                0    Corporate      15.750000
...                                ...          ...            ...
Sports Wear  Standard Class          0    Corporate       1.700000
             Standard Class          0    Corporate       0.245000
             Standard Class          0  Home Office       0.075000
             Standard Class          0     Consumer       2.833333
             Standard Class          0  Home Office       2.833333

                            Shipping Date             State  index
Product      Ship Mode
Iron         Same Day          2015-01-08        Valparaíso      0
Tablet       Same Day          2015-05-08          Kinshasa      1
Mouse        Same Day          2015-12-13          Istanbul      2
Keyboard     Same Day          2015-09-23            Punjab      3
Apple Laptop Same Day          2015-02-21  Distrito Federal      4
...                                   ...               ...    ...
Sports Wear  Standard Class    2015-01-27             Texas  42649
             Standard Class    2015-06-24            Harare  42650
             Standard Class    2015-01-07        Queensland  42651
             Standard Class    2015-12-14             Texas  42652
             Standard Class    2015-12-06         São Paulo  42653

[42654 rows x 20 columns]

In [135]:
df_1.sort_index(axis=0, inplace =True)
df_1
#sorting rows

                        Aging           City        Country Customer ID  \
Product      Ship Mode
Apple Laptop Same Day       1    Mexico City         Mexico   DY-008641
             Same Day       1   Christchurch    New Zealand   LL-008653
             Same Day       1  Saint Charles  United States   ON-008665
             Same Day       1   Buenos Aires      Argentina   NG-008677
             Same Day       1       Changwon    South Korea   CE-008689
...                       ...            ...            ...         ...
Watch        Same Day       1      San Justo      Argentina  RG-0010151
             Same Day       1   Buenos Aires      Argentina  LL-0010163
             Same Day       1   Johannesburg   South Africa  IN-0010175
             Same Day       1       Tipitapa      Nicaragua  ER-0010187
             Same Day       1       Brisbane      Australia  AL-0010199

                            Customer Name  Discount Order Date      Order ID  \
Product      Ship Mode
Apple Laptop Same Day          Bush Grady      0.05 2015-10-31  El-2015-1136
             Same Day   Fischer O'Donnell      0.05 2015-10-31  El-2015-1148
             Same Day    Hendricks Wilson      0.03 2015-10-31  El-2015-1160
             Same Day      Townsend Hwang      0.01 2015-10-31  El-2015-1172
             Same Day        Mendez Grace      0.05 2015-10-31  El-2015-1184
...                                   ...       ...        ...           ...
Watch        Same Day     Marsh Luxemburg      0.01 2015-10-21  El-2015-2646
             Same Day    Gaines O'Carroll      0.03 2015-10-21  El-2015-2658
             Same Day      Terrell Zeldin      0.04 2015-10-21  El-2015-2670
             Same Day         Neal Gainer      0.04 2015-10-21  El-2015-2682
             Same Day     Henson Rozendal      0.03 2015-10-21  El-2015-2694

                       Order Priority Product Category  Profit  Quantity  \
Product      Ship Mode
Apple Laptop Same Day        Critical       Electronic  157.50       1.0
             Same Day        Critical       Electronic  120.00       NaN
             Same Day          Medium       Electronic  155.00       2.0
             Same Day        Critical       Electronic  165.00       2.0
             Same Day            High       Electronic  145.00       2.0
...                               ...              ...     ...       ...
Watch        Same Day            High       Electronic   20.88       3.0
             Same Day        Critical       Electronic   14.64       3.0
             Same Day          Medium       Electronic   19.84       1.0
             Same Day          Medium       Electronic   11.52       3.0
             Same Day          Medium       Electronic    8.40       5.0

                            Region  Sales  Sales Cat      Segment  \
Product      Ship Mode
Apple Laptop Same Day        North    250          0    Corporate
             Same Day      Oceania    250          0  Home Office
             Same Day      Central    250          0     Consumer
             Same Day        South    250          0     Consumer
             Same Day   North Asia    250          0    Corporate
...                            ...    ...        ...          ...
Watch        Same Day        South    104          1    Corporate
             Same Day        South    104          1     Consumer
             Same Day       Africa    104          1     Consumer
             Same Day      Central    104          1     Consumer
             Same Day      Oceania    104          1     Consumer

                        Shipping Cost Shipping Date             State  index
Product      Ship Mode
Apple Laptop Same Day          15.750    2015-02-21  Distrito Federal      4
             Same Day          12.000    2015-08-02        Canterbury     16
             Same Day          15.500    2015-07-04          Missouri     28
             Same Day          16.500    2015-01-13      Buenos Aires     40
             Same Day          14.500    2015-04-30     Gyeongsangnam     52
...                               ...           ...               ...    ...
Watch        Same Day           2.088    2015-08-30          Santa Fe   1514
             Same Day           1.464    2015-01-07      Buenos Aires   1526
             Same Day           1.984    2015-05-07           Gauteng   1538
             Same Day           1.152    2015-03-10           Managua   1550
             Same Day           0.840    2015-02-16        Queensland   1562

[42654 rows x 20 columns]

In [137]:
df_1.index.values
#displays the index

array([('Apple Laptop', 'Same Day'), ('Apple Laptop', 'Same Day'),
       ('Apple Laptop', 'Same Day'), ..., ('Watch', 'Same Day'),
       ('Watch', 'Same Day'), ('Watch', 'Same Day')], dtype=object)

In [139]:
ecom_out = ecom.to_excel(r"C:\Users\xps\OneDrive\Desktop\IIMK\4\ecom_out.xlsx",index=False)

#.to_excel(...)This is the pandas method used to export the DataFrame to an Excel file.
# index=False This tells pandas not to write the DataFrame’s index into the Excel file 
#(i.e., it won’t add that leftmost column of 0, 1, 2... that pandas uses internally).

In [140]:
print(ecom_out)
#Then no — ecom_out is just None, because to_excel() doesn't return the Excel file or any usable object. It's just a "write-to-disk" operation.

None

In [141]:
df_1.iloc([0:11],[0:6])

SyntaxError: invalid syntax (1079205609.py, line 1)

# Note
# df.iloc[[0:11],[0:6]]	
# (Slices inside lists)

In [143]:
df_1.iloc[0:11,0:6]

                        Aging           City             Country Customer ID  \
Product      Ship Mode
Apple Laptop Same Day       1    Mexico City              Mexico   DY-008641
             Same Day       1   Christchurch         New Zealand   LL-008653
             Same Day       1  Saint Charles       United States   ON-008665
             Same Day       1   Buenos Aires           Argentina   NG-008677
             Same Day       1       Changwon         South Korea   CE-008689
             Same Day       1     Fort Worth       United States   RI-008701
             Same Day       1         Lublin              Poland   AN-008713
             Same Day       1  Gómez Palacio              Mexico   AN-008725
             Same Day       1  Santo Domingo  Dominican Republic   IS-008737
             Same Day       1       Surabaya           Indonesia   UN-008749
             Same Day       1         Madrid               Spain   ON-008761

                            Customer Name  Discount
Product      Ship Mode
Apple Laptop Same Day          Bush Grady      0.05
             Same Day   Fischer O'Donnell      0.05
             Same Day    Hendricks Wilson      0.03
             Same Day      Townsend Hwang      0.01
             Same Day        Mendez Grace      0.05
             Same Day     Sawyer Molinari      0.05
             Same Day     Hughes Brockman      0.03
             Same Day      Barrett Gayman      0.02
             Same Day      Moody Kargatis      0.02
             Same Day       Bennett Braun      0.02
             Same Day      Solomon Vernon      0.03

# When to Use loc vs iloc
 use loc[] -When selecting by labels (like column names)
 df.loc[1:3, ['Name']]
 Use iloc[]
 When selecting by positions (like row/column numbers)
 df.iloc[1:3, [0]]

# Shallow copy vs Deep copy

In [150]:
# Shallow copy
ecom_equal_copy =ecom

In [183]:
ecom_equal_copy.rename( {"Customer ID" :"Cust_ID"},axis=1,inplace =True)
#renaming column header

In [185]:
ecom_equal_copy

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Cust_ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [187]:
ecom

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Cust_ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

As seen above column header change is reflected in both ecom and ecom_equal_copy

In [202]:
ecom_copy_method = ecom.copy(deep="True")
#deep copy
#if deep is set false, it creates a shallow copy

In [196]:
ecom_copy_method.set_index("Order ID", inplace =True)

In [198]:
ecom_copy_method

,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost,Order Priority,Cust_ID,Customer Name,Segment,City,State,Country,Region
Order ID,,,,,,,,,,,,,,,,,,,,
El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,0.02,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,0.02,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,0.03,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,0.02,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,0.05,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,0.04,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,0.03,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,0.05,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,0.04,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,0.03,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

In [200]:
ecom

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,...,Profit,Shipping Cost,Order Priority,Cust_ID,Customer Name,Segment,City,State,Country,Region
0,El-2015-1132,2015-10-31,2015-01-08,1,Same Day,Electronic,Iron,222,2.0,0,...,133.120000,13.312000,Critical,DY-008637,Vaughn Grady,Consumer,Valparaíso,Valparaíso,Chile,South
1,El-2015-1133,2015-10-31,2015-05-08,1,Same Day,Electronic,Tablet,199,3.0,0,...,107.060000,10.706000,High,SE-008638,Manning House,Consumer,Kinshasa,Kinshasa,Democratic Republic of the Congo,Africa
2,El-2015-1134,2015-10-31,2015-12-13,1,Same Day,Electronic,Mouse,111,5.0,0,...,14.350000,1.435000,Critical,WE-008639,Gillespie Zewe,Consumer,Istanbul,Istanbul,Turkey,EMEA
3,El-2015-1135,2015-10-31,2015-09-23,1,Same Day,Electronic,Keyboard,33,5.0,0,...,6.600000,0.660000,Medium,NT-008640,Pugh Swint,Home Office,Lahore,Punjab,Pakistan,Central Asia
4,El-2015-1136,2015-10-31,2015-02-21,1,Same Day,Electronic,Apple Laptop,250,1.0,0,...,157.500000,15.750000,Critical,DY-008641,Bush Grady,Corporate,Mexico City,Distrito Federal,Mexico,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42649,FA-2015-30771,2015-01-01,2015-01-27,6,Standard Class,Fashion,Sports Wear,85,5.0,0,...,17.000000,1.700000,Medium,IN-0040977,Welch Fein,Corporate,Pasadena,Texas,United States,Central
42650,FA-2015-30772,2015-01-01,2015-06-24,2,Standard Class,Fashion,Sports Wear,85,1.0,0,...,2.450000,0.245000,Medium,TT-0040978,Martinez Arnett,Corporate,Harare,Harare,Zimbabwe,Africa
42651,FA-2015-30773,2015-01-01,2015-01-07,6,Standard Class,Fashion,Sports Wear,85,1.0,0,...,0.750000,0.075000,Medium,ON-0040979,Mccoy Duston,Home Office,Townsville,Queensland,Australia,Oceania
42652,FA-2015-30774,2015-01-01,2015-12-14,7,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RN-0040980,Bentley Zypern,Consumer,Houston,Texas,United States,Central
42653,FA-2015-30775,2015-01-01,2015-12-06,5,Standard Class,Fashion,Sports Wear,85,3.0,0,...,28.333333,2.833333,Medium,RZ-0040981,Mcclure Schwarz,Home Office,Valinhos,São Paulo,Brazil,South

# GROUP BY AND AGGREGATING

In [217]:
ecom.groupby('Segment')

In [229]:
ecom.groupby('Segment').mean(numeric_only =True)
#note mean here is from pandas and not numpy, the syntax is different for numpy

,Aging,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost
Segment,,,,,,,
Consumer,5.321000,157.977409,3.011275,0.992000,0.029970,73.760787,7.376079
Corporate,5.303132,159.219364,2.980496,0.992540,0.030037,75.095652,7.509565
Home Office,5.330379,158.769428,2.994990,0.994348,0.029961,74.829308,7.482931

In [233]:
np.mean?
#numpy mean syntax

Signature:
np.mean(
    a,
    axis=None,
    dtype=None,
    out=None,
    keepdims=<no value>,
    *,
    where=<no value>,
)
Call signature:  np.mean(*args, **kwargs)
Type:            _ArrayFunctionDispatcher
String form:     <function mean at 0x0000025BB3D877E0>
File:            c:\users\xps\anaconda3\lib\site-packages\numpy\core\fromnumeric.py
Docstring:
Compute the arithmetic mean along the specified axis.

Returns the average of the array elements.  The average is taken over
the flattened array by default, otherwise over the specified axis.
`float64` intermediate and return values are used for integer inputs.

Parameters
----------
a : array_like
    Array containing numbers whose mean is desired. If `a` is not an
    array, a conversion is attempted.
axis : None or int or tuple of ints, optional
    Axis or axes along which the means are computed. The default is to
    compute the mean of the flattened array.

    .. versionadded:: 1.7.0

    If this is a tuple of ints, a mean is performed over multiple axes,
    instead of a single axis or all the axes as before.
dtype : data-type, optional
    Type to use in computing the mean.  For integer inputs, the default
    is `float64`; for floating point inputs, it is the same as the
    input dtype.
out : ndarray, optional
    Alternate output array in which to place the result.  The default
    is ``None``; if provided, it must have the same shape as the
    expected output, but the type will be cast if necessary.
    See :ref:`ufuncs-output-type` for more details.

keepdims : bool, optional
    If this is set to True, the axes which are reduced are left
    in the result as dimensions with size one. With this option,
    the result will broadcast correctly against the input array.

    If the default value is passed, then `keepdims` will not be
    passed through to the `mean` method of sub-classes of
    `ndarray`, however any non-default value will be.  If the
    sub-class' method does not implement `keepdims` any
    exceptions will be raised.

where : array_like of bool, optional
    Elements to include in the mean. See `~numpy.ufunc.reduce` for details.

    .. versionadded:: 1.20.0

Returns
-------
m : ndarray, see dtype parameter above
    If `out=None`, returns a new array containing the mean values,
    otherwise a reference to the output array is returned.

See Also
--------
average : Weighted average
std, var, nanmean, nanstd, nanvar

Notes
-----
The arithmetic mean is the sum of the elements along the axis divided
by the number of elements.

Note that for floating-point input, the mean is computed using the
same precision the input has.  Depending on the input data, this can
cause the results to be inaccurate, especially for `float32` (see
example below).  Specifying a higher-precision accumulator using the
`dtype` keyword can alleviate this issue.

By default, `float16` results are computed using `float32` intermediates
for extra precision.

Examples
--------
>>> a = np.array([[1, 2], [3, 4]])
>>> np.mean(a)
2.5
>>> np.mean(a, axis=0)
array([2., 3.])
>>> np.mean(a, axis=1)
array([1.5, 3.5])

In single precision, `mean` can be inaccurate:

>>> a = np.zeros((2, 512*512), dtype=np.float32)
>>> a[0, :] = 1.0
>>> a[1, :] = 0.1
>>> np.mean(a)
0.54999924

Computing the mean in float64 is more accurate:

>>> np.mean(a, dtype=np.float64)
0.55000000074505806 # may vary

Specifying a where argument:

>>> a = np.array([[5, 9, 13], [14, 10, 12], [11, 15, 19]])
>>> np.mean(a)
12.0
>>> np.mean(a, where=[[True], [False], [False]])
9.0
Class docstring:
Class to wrap functions with checks for __array_function__ overrides.

All arguments are required, and can only be passed by position.

Parameters
----------
dispatcher : function or None
    The dispatcher function that returns a single sequence-like object
    of all arguments relevant.  It must have the same signature (except
    the default values) as the actual implementation.
    If ``None``, this is a ``like=`` dispatcher and the
    ``_ArrayFunctionDispatcher`` must be called with ``like`` as the
    first (additional and positional) argument.
implementation : function
    Function that implements the operation on NumPy arrays without
    overrides.  Arguments passed calling the ``_ArrayFunctionDispatcher``
    will be forwarded to this (and the ``dispatcher``) as if using
    ``*args, **kwargs``.

Attributes
----------
_implementation : function
    The original implementation passed in.

In [241]:
ecom.mean?
#pandas mean syntax

Signature:
ecom.mean(
    axis: 'Axis | None' = 0,
    skipna: 'bool' = True,
    numeric_only: 'bool' = False,
    **kwargs,
)
Docstring:
Return the mean of the values over the requested axis.

Parameters
----------
axis : {index (0), columns (1)}
    Axis for the function to be applied on.
    For `Series` this parameter is unused and defaults to 0.

    For DataFrames, specifying ``axis=None`` will apply the aggregation
    across both axes.

    .. versionadded:: 2.0.0

skipna : bool, default True
    Exclude NA/null values when computing the result.
numeric_only : bool, default False
    Include only float, int, boolean columns. Not implemented for Series.

**kwargs
    Additional keyword arguments to be passed to the function.

Returns
-------
Series or scalar

            Examples
            --------
            >>> s = pd.Series([1, 2, 3])
            >>> s.mean()
            2.0

            With a DataFrame

            >>> df = pd.DataFrame({'a': [1, 2], 'b': [2, 3]}, index=['tiger', 'zebra'])
            >>> df
                   a   b
            tiger  1   2
            zebra  2   3
            >>> df.mean()
            a   1.5
            b   2.5
            dtype: float64

            Using axis=1

            >>> df.mean(axis=1)
            tiger   1.5
            zebra   2.5
            dtype: float64

            In this case, `numeric_only` should be set to `True` to avoid
            getting an error.

            >>> df = pd.DataFrame({'a': [1, 2], 'b': ['T', 'Z']},
            ...                   index=['tiger', 'zebra'])
            >>> df.mean(numeric_only=True)
            a   1.5
            dtype: float64
File:      c:\users\xps\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [245]:
ecom.groupby('Segment').count()
#another aggregate function

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Sales Cat,Discount,Profit,Shipping Cost,Order Priority,Cust_ID,Customer Name,City,State,Country,Region
Segment,,,,,,,,,,,,,,,,,,,,
Consumer,22000,21997,22000,22000,22000,22000,22000,22000,21995,22000,22000,22000,22000,22000,21998,22000,22000,22000,22000,22000
Corporate,12869,12868,12869,12869,12869,12869,12869,12869,12869,12869,12869,12869,12869,12869,12867,12869,12869,12869,12869,12869
Home Office,7785,7785,7785,7785,7785,7785,7785,7785,7784,7785,7785,7785,7785,7785,7785,7785,7785,7785,7785,7785

In [247]:
ecom.groupby(['Segment', 'Product']).count()
#multilevel grouping

                          Order ID  Order Date  Shipping Date  Aging  \
Segment     Product
Consumer    Apple Laptop        62          62             62     62
            Bed Sheets         513         513            513    513
            Beds               531         531            531    531
            Casula Shoes      1492        1492           1492   1492
            Curtains           523         523            523    523
...                            ...         ...            ...    ...
Home Office Tablet              25          25             25     25
            Titak watch        509         509            509    509
            Towels             180         180            180    180
            Umbrellas          181         181            181    181
            Watch               26          26             26     26

                          Ship Mode  Product Category  Sales  Quantity  \
Segment     Product
Consumer    Apple Laptop         62                62     62        62
            Bed Sheets          513               513    513       513
            Beds                531               531    531       531
            Casula Shoes       1492              1492   1492      1492
            Curtains            523               523    523       523
...                             ...               ...    ...       ...
Home Office Tablet               25                25     25        25
            Titak watch         509               509    509       509
            Towels              180               180    180       180
            Umbrellas           181               181    181       181
            Watch                26                26     26        26

                          Sales Cat  Discount  Profit  Shipping Cost  \
Segment     Product
Consumer    Apple Laptop         62        62      62             62
            Bed Sheets          513       513     513            513
            Beds                531       531     531            531
            Casula Shoes       1492      1492    1492           1492
            Curtains            523       523     523            523
...                             ...       ...     ...            ...
Home Office Tablet               25        25      25             25
            Titak watch         509       509     509            509
            Towels              180       180     180            180
            Umbrellas           181       181     181            181
            Watch                26        26      26             26

                          Order Priority  Cust_ID  Customer Name  City  State  \
Segment     Product
Consumer    Apple Laptop              62       62             62    62     62
            Bed Sheets               513      513            513   513    513
            Beds                     531      531            531   531    531
            Casula Shoes            1492     1492           1492  1492   1492
            Curtains                 523      523            523   523    523
...                                  ...      ...            ...   ...    ...
Home Office Tablet                    25       25             25    25     25
            Titak watch              509      509            509   509    509
            Towels                   180      180            180   180    180
            Umbrellas                181      181            181   181    181
            Watch                     26       26             26    26     26

                          Country  Region
Segment     Product
Consumer    Apple Laptop       62      62
            Bed Sheets        513     513
            Beds              531     531
            Casula Shoes     1492    1492
            Curtains          523     523
...                           ...     ...
Home Office Tablet             25      25
            Titak watch       509     509
            Towels            180     180
            Umbrellas         181     181
            Watch              26      26

[99 rows x 19 columns]

In [251]:
ecom.agg?

Signature: ecom.agg(func=None, axis: 'Axis' = 0, *args, **kwargs)
Docstring:
Aggregate using one or more operations over the specified axis.

Parameters
----------
func : function, str, list or dict
    Function to use for aggregating the data. If a function, must either
    work when passed a DataFrame or when passed to DataFrame.apply.

    Accepted combinations are:

    - function
    - string function name
    - list of functions and/or function names, e.g. ``[np.sum, 'mean']``
    - dict of axis labels -> functions, function names or list of such.
axis : {0 or 'index', 1 or 'columns'}, default 0
        If 0 or 'index': apply function to each column.
        If 1 or 'columns': apply function to each row.
*args
    Positional arguments to pass to `func`.
**kwargs
    Keyword arguments to pass to `func`.

Returns
-------
scalar, Series or DataFrame

    The return can be:

    * scalar : when Series.agg is called with single function
    * Series : when DataFrame.agg is called with a single function
    * DataFrame : when DataFrame.agg is called with several functions

    Return scalar, Series or DataFrame.

See Also
--------
DataFrame.apply : Perform any type of operations.
DataFrame.transform : Perform transformation type operations.
core.groupby.GroupBy : Perform operations over groups.
core.resample.Resampler : Perform operations over resampled bins.
core.window.Rolling : Perform operations over rolling window.
core.window.Expanding : Perform operations over expanding window.
core.window.ExponentialMovingWindow : Perform operation over exponential weighted
    window.

Notes
-----
The aggregation operations are always performed over an axis, either the
index (default) or the column axis. This behavior is different from
`numpy` aggregation functions (`mean`, `median`, `prod`, `sum`, `std`,
`var`), where the default is to compute the aggregation of the flattened
array, e.g., ``numpy.mean(arr_2d)`` as opposed to
``numpy.mean(arr_2d, axis=0)``.

`agg` is an alias for `aggregate`. Use the alias.

Functions that mutate the passed object can produce unexpected
behavior or errors and are not supported. See :ref:`gotchas.udf-mutation`
for more details.

A passed user-defined-function will be passed a Series for evaluation.

Examples
--------
>>> df = pd.DataFrame([[1, 2, 3],
...                    [4, 5, 6],
...                    [7, 8, 9],
...                    [np.nan, np.nan, np.nan]],
...                   columns=['A', 'B', 'C'])

Aggregate these functions over the rows.

>>> df.agg(['sum', 'min'])
        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

Different aggregations per column.

>>> df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})
        A    B
sum  12.0  NaN
min   1.0  2.0
max   NaN  8.0

Aggregate different functions over the columns and rename the index of the resulting
DataFrame.

>>> df.agg(x=('A', 'max'), y=('B', 'min'), z=('C', 'mean'))
     A    B    C
x  7.0  NaN  NaN
y  NaN  2.0  NaN
z  NaN  NaN  6.0

Aggregate over the columns.

>>> df.agg("mean", axis="columns")
0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64
File:      c:\users\xps\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

ecom.groupby(['Segment', 'Product']).agg({'Sales': ['mean','max','sum'],'Profit':['mean','max','sum']})

In [283]:
for Region, ecom in ecom.groupby(['Segment', 'Product']):
    print(Region)
    print(ecom)

('Home Office', 'Watch')
          Order ID Order Date Shipping Date  Aging Ship Mode Product Category  \
58    El-2015-1190 2015-10-31    2015-09-07      1  Same Day       Electronic
202   El-2015-1334 2015-10-30    2015-10-09      1  Same Day       Electronic
274   El-2015-1406 2015-10-30    2015-06-20      1  Same Day       Electronic
382   El-2015-1514 2015-10-29    2015-01-01      1  Same Day       Electronic
507   El-2015-1639 2015-10-28    2015-12-05      1  Same Day       Electronic
583   El-2015-1715 2015-10-27    2015-11-07      1  Same Day       Electronic
621   El-2015-1753 2015-10-27    2015-06-22      1  Same Day       Electronic
659   El-2015-1791 2015-10-27    2015-10-11      1  Same Day       Electronic
714   El-2015-1846 2015-10-26    2015-07-30      1  Same Day       Electronic
740   El-2015-1872 2015-10-26    2015-05-30      1  Same Day       Electronic
853   El-2015-1985 2015-10-25    2015-09-20      1  Same Day       Electronic
917   El-2015-2049 2015-10-25    2015-05-16      1  Same Day       Electronic
972   El-2015-2104 2015-10-25    2015-10-24      1  Same Day       Electronic
996   El-2015-2128 2015-10-25    2015-02-11      1  Same Day       Electronic
1026  El-2015-2158 2015-10-24    2015-05-23      1  Same Day       Electronic
1038  El-2015-2170 2015-10-24    2015-09-15      1  Same Day       Electronic
1067  El-2015-2199 2015-10-24    2015-08-07      1  Same Day       Electronic
1130  El-2015-2262 2015-10-23    2015-04-16      1  Same Day       Electronic
1166  El-2015-2298 2015-10-23    2015-08-05      1  Same Day       Electronic
1202  El-2015-2334 2015-10-23    2015-04-03      1  Same Day       Electronic
1310  El-2015-2442 2015-10-22    2015-05-10      1  Same Day       Electronic
1358  El-2015-2490 2015-10-22    2015-10-13      1  Same Day       Electronic
1370  El-2015-2502 2015-10-22    2015-10-04      1  Same Day       Electronic
1382  El-2015-2514 2015-10-22    2015-10-19      1  Same Day       Electronic
1406  El-2015-2538 2015-10-22    2015-04-12      1  Same Day       Electronic
1466  El-2015-2598 2015-10-21    2015-10-28      1  Same Day       Electronic

     Product  Sales  Quantity  Sales Cat  ...  Profit  Shipping Cost  \
58     Watch    104       1.0          0  ...   19.84          1.984
202    Watch    104       4.0          0  ...   11.52          1.152
274    Watch    104       5.0          1  ...   13.60          1.360
382    Watch    104       3.0          1  ...    8.40          0.840
507    Watch    104       5.0          1  ...    8.40          0.840
583    Watch    104       1.0          1  ...   21.92          2.192
621    Watch    104       2.0          1  ...   13.60          1.360
659    Watch    104       3.0          1  ...   20.88          2.088
714    Watch    104       2.0          1  ...   17.76          1.776
740    Watch    104       1.0          1  ...   19.84          1.984
853    Watch    104       3.0          1  ...    8.40          0.840
917    Watch    104       1.0          1  ...   20.88          2.088
972    Watch    104       1.0          1  ...   20.88          2.088
996    Watch    104       5.0          1  ...   20.80          2.080
1026   Watch    104       1.0          1  ...   20.88          2.088
1038   Watch    104       4.0          1  ...   11.52          1.152
1067   Watch    104       3.0          1  ...   17.76          1.776
1130   Watch    104       5.0          1  ...   18.80          1.880
1166   Watch    104       3.0          1  ...   11.52          1.152
1202   Watch    104       2.0          1  ...   15.68          1.568
1310   Watch    104       3.0          1  ...    8.40          0.840
1358   Watch    104       2.0          1  ...   15.68          1.568
1370   Watch    104       3.0          1  ...    8.40          0.840
1382   Watch    104       3.0          1  ...    8.40          0.840
1406   Watch    104       2.0          1  ...   19.84          1.984
1466   Watch    104       5.0          1  ...   18.80          1.880

      Order Priority     Cust_ID        Customer Name      Segment  \
58              High   IE-008695         Olson Currie  Home Office
202             High   DA-008839       Moore Andreada  Home Office
274           Medium   IN-008911       Cain Mccrossin  Home Office
382             High   CK-009019   Sparks Mackendrick  Home Office
507         Critical   ON-009144   Middleton Thornton  Home Office
583           Medium   TH-009220       Carrillo Smith  Home Office
621           Medium   EY-009258        Rivers Sunley  Home Office
659           Medium   AS-009296         Weeks Thomas  Home Office
714             High   ER-009351       Marquez Miller  Home Office
740             High   ON-009377      Wilson Anderson  Home Office
853           Medium   IZ-009490        Alvarado Kriz  Home Office
917             High   EZ-009554  Stevenson Hernandez  Home Office
972             High   KE-009609         Frank Ludtke  Home Office
996           Medium   TY-009633    Gutierrez Doherty  Home Office
1026        Critical   IS-009663        Harrell Preis  Home Office
1038          Medium   ER-009675          Diaz Bühler  Home Office
1067            High   RI-009704        Clay Molinari  Home Office
1130          Medium   NG-009767        Potter Irving  Home Office
1166          Medium   NG-009803   Thompson Armstrong  Home Office
1202            High   EN-009839        Molina Nguyen  Home Office
1310            High   ES-009947     Blackwell Rawles  Home Office
1358            High   AM-009995     Mckee Sundaresam  Home Office
1370          Medium  ER-0010007           Day Ferrer  Home Office
1382          Medium  LD-0010019         Medina Fjeld  Home Office
1406        Critical  CK-0010043        Paul Kendrick  Home Office
1466            High  NG-0010103        Potter Irving  Home Office

               City                       State             Country  \
58      Panama City                      Panama              Panama
202        Papakura                    Auckland         New Zealand
274           Paris               Ile-de-France              France
382             Açu         Rio Grande do Norte              Brazil
507    Les Herbiers            Pays de la Loire              France
583          Riyadh                    Ar Riyad        Saudi Arabia
621     Tegucigalpa           Francisco Morazán            Honduras
659          Yiyang                       Hunan               China
714       Stockholm                   Stockholm              Sweden
740       Vallauris  Provence-Alpes-Côte d'Azur              France
853      Wollongong             New South Wales           Australia
917       La Romana                   La Romana  Dominican Republic
972          Oxnard                  California       United States
996       Rotterdam               South Holland         Netherlands
1026         Smyrna                     Georgia       United States
1038   Philadelphia                Pennsylvania       United States
1067         Mentor                        Ohio       United States
1130     Kryvyy Rih             Dnipropetrovs'k             Ukraine
1166     Casablanca            Grand Casablanca             Morocco
1202    Tegucigalpa           Francisco Morazán            Honduras
1310         Vienna                      Vienna             Austria
1358          Lagos                       Lagos             Nigeria
1370            Ufa               Bashkortostan              Russia
1382         Ibadan                         Oyo             Nigeria
1406      Aylesbury                     England      United Kingdom
1466  San Francisco                  California       United States

          Region
58       Central
202      Oceania
274      Central
382        South
507      Central
583         EMEA
621      Central
659   North Asia
714        North
740      Central
853      Oceania
917    Caribbean
972         West
996      Central
1026       South
1038        East
1067        East
1130        EMEA
1166      Africa
1202     Central
1310     Central
1358      Africa
1370        EMEA
1382      Africa
1406       North
1466        West

[26 rows x 21 columns]